main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: 0 30%;
}
.top-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
}

#cost-Price {
    margin-top: 10px;
    margin-left: 138px;
    height: 40px;
    width: 40%;
    background-color: grey;
}
#numberOfApples {
    margin-top: 10px;
    margin-left: 61px;
    height: 40px;
    width: 40%;
    background-color: grey;
}
#packetSize {
    margin-top: 10px;
    margin-left: 180px;
    height: 40px;
    width: 40%;
    background-color: grey;
}
#requiredProfit {
    margin-top: 10px;
    margin-left: 138px;
    height: 40px;
    width: 40%;
    background-color: grey;
}
#calculate-button {
    margin-top: 10px;
    margin-left: 138px;
    height: 40px;
    width: 40%;
    background-color: grey;
}

#number-of-packets {
    margin-top: 10px;
    margin-left: 72px;
    height: 40px;
    width: 40%;
    background-color: grey;
}
#cost-per-apple {
    margin-top: 10px;
    margin-left: 56px;
    height: 40px;
    width: 40%;
    background-color: grey;
}
#cost-per-packet {
    margin-top: 10px;
    margin-left: 50px;
    height: 40px;
    width: 40%;
    background-color: grey;
}
#Recommended-Price {
    margin-top: 10px;
    height: 40px;
    width: 40%;
    background-color: grey;
}